@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&display=swap');

@keyframes bye{
	50%{
		transform: translateX(150vw);
	}

	50.001%{
		transform: translateX(-160vw);
	}
}
@keyframes wordz{
	50%{
		color: transparent;
	}
}

p{
	align-items: center;
	justify-content: center;
	position:relative;
	display: flex;
	color:#df5a3c;
	font-size: 200px;
	line-height: 180px;
	padding:10px;
	margin:0;

	animation: bye 7s linear infinite;

	font-family: 'Work Sans', sans-serif;
}

span{
	color: #F6D55C;
	animation: wordz 2s infinite;
}

p:nth-child(2){
	animation-delay: 0.5s;
}

p:nth-child(3){
	animation-delay: 1s;
}

p:nth-child(4){
	animation-delay: 1.5s;
}

p:nth-child(5){
	animation-delay: 2s;
}

p:nth-child(6){
	animation-delay: 2.5s;
}

body{
	background-color: #3CAEA3;
	overflow: hidden;
}

